.App {
  margin-top: 200px;
  text-align: center;
}
.equals {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
}
