body {
  background-color: #9689e6;
}
.App {
  height: auto;
  width: auto;
  text-align: center;
}
.equals {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 17px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
}
